#searchConditionWrapper {
    height: auto;
    min-height: 73px;
}

.search-area {
    display: flex;
    align-items: center;
    gap: 5px;
}

.panel-body-multi .lbl-srh:not(input[type="checkbox"]) {
    min-width: 80px;
    width: auto;
    font-size: small;
    text-align: left;
}


.m-10p{
    margin: 10px;
}

.v-top{
    vertical-align: top;
    align-self: flex-start;
}

.tabulator .tabulator-header .tabulator-col {
    vertical-align: middle !important;
}

.tabulator .tabulator-header .tabulator-col-content {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important;
}