<!--
  *packageName      : templates.pages.qul
  *fileName         : dateBox.html
  *author           : gitcat87
  *date             : 2025-12-01
  *======================================================
  *DATE             AUTHOR               NOTE
  *------------------------------------------------------
  * 2025-12-01      gitcat87            최초 생성
 -->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="script">
    <script th:src="@{/qul/overview/dateBox.js}"></script>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/qul/qul.css}" />
</th:block>

<section layout:fragment="content">
    <head>
        <style>
            .panel-body-multi input[type="text"],
            .panel-body-multi select.form-select {
                width: 160px;
            }
        </style>
    </head>
    <loading-form id="loading" class="display-none"></loading-form>
    <main>
        <div class="menu">
            <div class="page-header">
                ■ 최종 검사 이력 조회
            </div>
            <div class="icon">
                <div class="flx">
                    <button type="button" class="btn btn-info m-r-05" id="btnSearch">조회</button>
                    <button type="button" id="btnExcel" class="btn btn-print m-r-05">엑셀</button>
                </div>
            </div>
        </div>
        <div id="searchConditionWrapper">
            <div class="date">
                <div>
                    <div class="search-condition mx-0">
                        <div>
                            <input class="form-check-input" type="checkbox" value="Y" id="chkDate" checked="true"
                                   data-target="sDate, eDate">
                            <label class="me-2" for="chkDate">
                                검색일자
                            </label>
                        </div>
                        <div class="flx gap-1">
                            <input type="date" id="sDate" class="text-center">
                            <input type="date" id="eDate" class="text-center">
                        </div>
                    </div>
                    <div class="btn-date">
                        <input type="radio" class="btn-check date" id="btnToday" name="category" checked>
                        <label class="btn" for="btnToday">금일</label>
                        <input type="radio" class="btn-check date" id="btnThisMonth" name="category">
                        <label class="btn" for="btnThisMonth">금월</label>
                        <input type="radio" class="btn-check date" id="btnYesterDay" name="category">
                        <label class="btn" for="btnYesterDay">전일</label>
                        <input type="radio" class="btn-check" id="btnLastMonth" name="category">
                        <label class="btn" for="btnLastMonth">전월</label>
                    </div>
                </div>
            </div>
            <!--            검색조건-->
            <div class="flx search-area">
                <div class="panel-body-multi">
                    <div class="search-condition">
                        <input id="chkBuyerArticleNo" data-target="txtBuyerArticleNo"
                               class="form-check-input" type="checkbox" value="Y">
                        <label class="lbl-srh" for="chkBuyerArticleNo">
                            품번
                        </label>
                        <input id="txtBuyerArticleNo"
                               type="text" class="form-control" placeholder="품번 찾기">
                    </div>
                    <div class="search-condition">
                        <input id="chkArticle" data-target="txtArticle"
                               class="form-check-input" type="checkbox" value="Y">
                        <label class="lbl-srh" for="chkArticle">
                            품명
                        </label>
                        <input id="txtArticle"
                               type="text" class="form-control" placeholder="품명 찾기">
                    </div>
                </div>
                <div class="panel-body-multi">
                    <div class="search-condition">
                        <input id="chkCustomID" data-target="txtCustomID"
                               class="form-check-input" type="checkbox" value="Y">
                        <label class="lbl-srh" for="chkCustomID">
                            거래처
                        </label>
                        <input id="txtCustomID"
                               type="text" class="form-control" placeholder="거래처 찾기">
                    </div>
                    <div class="search-condition">
                        <input id="chkDefectGrpID" data-target="cboDefectGrpID"
                               class="form-check-input" type="checkbox" value="Y">
                        <label class="lbl-srh" for="chkDefectGrpID">
                            공정명
                        </label>
                        <select id="cboDefectGrpID" name="DefectGrpID" class="form-select w150px">
                            <option th:each="item : ${cboDefectGrpID}"
                                    th:value="${item.code_ID}"
                                    th:text="${item.code_Name}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="panel-body-multi v-top">
                    <div class="search-condition">
                        <input id="chkBoxLabel" data-target="txtBoxLabel"
                               class="form-check-input" type="checkbox" value="Y">
                        <label class="lbl-srh" for="chkBoxLabel">
                            박스번호
                        </label>
                        <input id="txtBoxLabel"
                               type="text" class="form-control" placeholder="라벨 찾기">
                    </div>
                </div>
                <div class="panel-body-multi">
                    <div class="search-condition">
                        <input id="chkOrderNo" data-target="txtOrderNo"
                               class="form-check-input" type="checkbox" value="Y">
                        <label class="lbl-srh" for="chkOrderNo">
                            오더번호
                        </label>
                        <input id="txtOrderNo"
                               type="text" class="form-control" placeholder="오더번호 찾기">
                    </div>
                    <div style="display: flex; flex-direction: row">
                        <div class="search-condition">
                            <input id="rbnOrderNo" data-target="rbnOrderNo" name="ordType"
                                   class="form-check-input" type="radio" value="Y">
                            <label class="lbl-srh" for="rbnOrderNo">
                                OrderNo
                            </label>
                        </div>
                        <div class="search-condition">
                            <input id="rbnOrderID" data-target="rbnOrderID" name="ordType" checked
                                   class="form-check-input" type="radio" value="Y">
                            <label class="lbl-srh" for="rbnOrderID">
                                관리번호
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="flx gap-3">
            <div id="main-table" class="border" style="width: 80%; overflow-x: auto" ></div>
            <!-- 합계 출력 영역 -->
            <div style="width: 20%" class="border">
                <div id="sub-table" style="height: 100%; overflow-x:auto;"></div>
            </div>
        </section>

    </main>
</section>
</html>
