<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wizard.ShinYoungInd.product.process.ProcessMapper">

    <select id="getProcess" statementType="CALLABLE" resultType="wizard.ShinYoungInd.product.process.Process"
            parameterType="map"> {
        call xp_prd_sProcessMain(#{process, javaType=String, jdbcType=VARCHAR, mode=IN}
            , #{articleTypeID, javaType=String, jdbcType=VARCHAR, mode=IN}
            , #{useYN, javaType=String, jdbcType=CHAR, mode=IN})
        }
    </select>

    <select id="getProcessSub" statementType="CALLABLE" resultType="wizard.ShinYoungInd.product.process.Process"
            parameterType="map"> {
        call xp_prd_sProcessSub(#{processID, javaType=String, jdbcType=VARCHAR, mode=IN}
            ,#{chkArticleGrpID, javaType=int, jdbcType=SMALLINT, mode=IN}
            ,#{articleGrpID, javaType=String, jdbcType=VARCHAR, mode=IN}
            ,#{useClss, javaType=String, jdbcType=VARCHAR, mode=IN}
             )}
    </select>

    <select id="saveProcess" statementType="CALLABLE"
            parameterType="wizard.ShinYoungInd.product.process.Process"> {
        call xp_prd_iProcess(
             #{processID		 , javaType=String, jdbcType=VARCHAR, mode=IN}
            , #{process			 , javaType=String, jdbcType=VARCHAR, mode=IN}
            , #{eProcess		 , javaType=String, jdbcType=VARCHAR, mode=IN}
            , #{fProcess		 , javaType=String, jdbcType=VARCHAR, mode=IN}
            , #{articleTypeID	 , javaType=String, jdbcType=VARCHAR, mode=IN}
            , #{detailWorkYN	 , javaType=String, jdbcType=CHAR, mode=IN}
            , #{sortSeq			 , javaType=int, jdbcType=SMALLINT, mode=IN}
            , #{useYN			 , javaType=String, jdbcType=CHAR, mode=IN}
            , #{childCheckYN	 , javaType=String, jdbcType=CHAR, mode=IN}
            , #{createuserID	 , javaType=String, jdbcType=VARCHAR, mode=IN}
             )
        }
    </select>

    <select id="updateProcess" statementType="CALLABLE"
            parameterType="wizard.ShinYoungInd.product.process.Process"> {
        call xp_prd_uProcess(
            , #{processID, javaType=String, jdbcType=VARCHAR, mode=IN}
            , #{process			    , javaType=String, jdbcType=VARCHAR, mode=IN}
            , #{eProcess		    , javaType=String, jdbcType=VARCHAR, mode=IN}
            , #{fProcess		    , javaType=String, jdbcType=VARCHAR, mode=IN}
            , #{articleTypeID	    , javaType=String, jdbcType=VARCHAR, mode=IN}
            , #{detailWorkYN	    , javaType=String, jdbcType=CHAR, mode=IN}
            , #{sortSeq			    , javaType=int,    jdbcType=SMALLINT, mode=IN}
            , #{useYN			    , javaType=String, jdbcType=CHAR, mode=IN}
            , #{childCheckYN	    , javaType=String, jdbcType=CHAR, mode=IN}
            , #{lastUpdateUserID	, javaType=String, jdbcType=VARCHAR, mode=IN}
             )
        }
    </select>

    <select id="deleteProcess" statementType="CALLABLE" parameterType="String" resultType="map"> {
        call xp_prd_dProcess(#{processID, javaType=String, jdbcType=VARCHAR, mode=IN}
            , #{lastUpdateUserID, javaType=String, jdbcType=VARCHAR, mode=IN})
        }
    </select>


</mapper>