<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wizard.ShinYoungInd.mc.machine.MachineMapper">

    <select id="getMachine" statementType="CALLABLE" resultType="wizard.ShinYoungInd.mc.machine.Machine"
            parameterType="string"> {
        call xp_Process_sMachineForComboBoxAndUsing(#{processID, javaType=String, jdbcType=VARCHAR, mode=IN})}
    </select>

</mapper>