<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wizard.ShinYoungInd.mc.workLog.WorkLogMapper">

    <select id="getWorkLog" statementType="CALLABLE" resultType="wizard.ShinYoungInd.mc.workLog.DTO.WorkLog"
            parameterType="map"> {
        call xp_prd_sWorkLog(#{chkDate, javaType=int, jdbcType=SMALLINT, mode=IN}
            , #{sDate, javaType=String, jdbcType=CHAR, mode=IN}
            , #{sDate, javaType=String, jdbcType=CHAR, mode=IN}
            , #{chkProcess, javaType=int, jdbcType=SMALLINT, mode=IN}
            , #{processID, javaType=String, jdbcType=VARCHAR, mode=IN}
            , #{chkMachine, javaType=int, jdbcType=SMALLINT, mode=IN}
            , #{machineID, javaType=String, jdbcType=VARCHAR, mode=IN}
             )
        }
    </select>

</mapper>