<!--
  *packageName      : templates.pages.order
  *fileName         : orderStock.html
  *author           : gitcat87
  *date             : 2025-11-24
  *======================================================
  *DATE             AUTHOR               NOTE
  *------------------------------------------------------
  * 2025-11-24      gitcat87            최초 생성
 -->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="script">
    <script th:src="@{/order/overview/orderDetail/orderStock.js}"></script>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/order/overview/orderDetail/orderDetail.css}" />
</th:block>


<section layout:fragment="content">
    <head>
        <style>
            .panel-body-multi input[type="text"],
            .panel-body-multi select.form-select {
                width: 160px;
            }
        </style>
    </head>
    <loading-form id="loading" class="display-none"></loading-form>
    <main>
        <div class="menu">
            <div class="page-header">
                ■ 재고 현황 조회
            </div>
            <div class="icon">
                <div class="flx">
                    <button type="button" class="btn btn-info m-r-05" id="btnSearch">조회</button>
                    <button type="button" id="btnExcel" class="btn btn-print m-r-05">엑셀</button>
                </div>
            </div>
        </div>
        <div id="searchConditionWrapper">
            <!--            지시일자-->
            <div class="date">
                <div>
                    <div class="search-condition mx-0">
                        <div>
                            <input class="form-check-input" type="checkbox" value="Y" id="chkDate" checked="true"
                                   data-target="sDate, eDate">
                            <label class="me-2" for="chkDate">
                                검색일자
                            </label>
                        </div>
                        <div class="flx gap-1">
                            <input type="date" id="sDate" class="text-center">
                            <input type="date" id="eDate" class="text-center">
                        </div>
                    </div>
                    <div class="btn-date">
                        <input type="radio" class="btn-check date" id="btnToday" name="category" checked>
                        <label class="btn" for="btnToday">금일</label>
                        <input type="radio" class="btn-check date" id="btnThisMonth" name="category">
                        <label class="btn" for="btnThisMonth">금월</label>
                        <input type="radio" class="btn-check date" id="btnYesterDay" name="category">
                        <label class="btn" for="btnYesterDay">전일</label>
                        <input type="radio" class="btn-check" id="btnLastMonth" name="category">
                        <label class="btn" for="btnLastMonth">전월</label>
                    </div>
                </div>
            </div>
            <!--            검색조건-->
            <div class="flx search-area">
                <div class="panel-body-multi">
                    <div class="search-condition">
                        <input id="chkCustom" data-target="txtCustom"
                               class="form-check-input" type="checkbox" value="Y">
                        <label class="lbl-srh" for="chkCustom">
                            거래처
                        </label>
                        <input id="txtCustom"
                               type="text" class="form-control" placeholder="거래처 찾기"
                               ondblclick="openModalFinder('txtCustom','txtCustom',200,this.value)"
                               onkeydown="if(event.key === 'Enter'){openModalFinder('txtCustom','txtCustom',200,this.value)}"
                        >
                    </div>
                    <div class="search-condition">
                        <input id="chkArticle" data-target="txtArticle"
                               class="form-check-input" type="checkbox" value="Y">
                        <label class="lbl-srh" for="chkArticle">
                            품명
                        </label>
                        <input id="txtArticle"
                               type="text" class="form-control" placeholder="품명 찾기"
                               ondblclick="openModalFinder('txtArticle','txtArticle',77,this.value)"
                               onkeydown="if(event.key === 'Enter'){openModalFinder('txtArticle','txtArticle',77,this.value)}"
                        >
                    </div>
                </div>
                <div class="panel-body-multi">
                    <div class="search-condition">
                        <input id="chkSuppleType" data-target="cboSuppleType"
                               class="form-check-input" type="checkbox" value="Y">
                        <label class="lbl-srh" for="chkSuppleType">
                            공급유형
                        </label>
                        <select id="cboSuppleType" name="suppleType" class="form-select w150px">
                            <option th:each="item : ${cboSuppleType}"
                                    th:value="${item.code_ID}"
                                    th:text="${item.code_Name}">
                            </option>
                        </select>
                    </div>
                    <div class="search-condition">
                        <input id="chkLocID" data-target="cboLocID"
                               class="form-check-input" type="checkbox" value="Y">
                        <label class="lbl-srh" for="chkLocID">
                            창고
                        </label>
                        <select id="cboLocID" name="locID" class="form-select w150px">
                            <option th:each="item : ${cboLocID}"
                                    th:value="${item.code_ID}"
                                    th:text="${item.code_Name}">
                            </option>
                        </select>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; margin: 5px; background-color: lightgray" class="border">
                    <div class="panel-body-multi">
                        <div class="search-condition">
                            <input id="chkIn_NotApprovedIncloud" checked
                                   class="form-check-input" type="checkbox" value="Y">
                            <label class="lbl-srh" for="chkIn_NotApprovedIncloud">
                                입고미승인건 포함
                            </label>
                        </div>
                        <div class="search-condition">
                            <input id="chkAutoInOutItemsIncloud" checked
                                   class="form-check-input" type="checkbox" value="Y">
                            <label class="lbl-srh" for="chkAutoInOutItemsIncloud">
                                자동입출고건 포함
                            </label>
                        </div>
                    </div>
                    <div class="panel-body-multi">
                        <div class="search-condition">
                            <input id="chkOptimumStockBelowSee"
                                   class="form-check-input" type="checkbox" value="Y">
                            <label class="lbl-srh" for="chkOptimumStockBelowSee">
                                적정재고량 미달건 조회
                            </label>
                        </div>
                        <div class="search-condition">
                            <input id="chkMainInterestItemsSee"
                                   class="form-check-input" type="checkbox" value="Y">
                            <label class="lbl-srh" for="chkMainInterestItemsSee">
                                주요관심품목만 보기
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="flx gap-3">
            <div id="main-table" class="border" style="width: 80%; overflow-x: auto" ></div>
            <div style="width: 20%" class="border">
                <div id="sub-table" style="height: 100%; overflow-x:auto;"></div>
            </div>
        </section>
    </main>
</section>
</html>
