<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wizard.ShinYoungInd.common.CMMapper">

    <select id="getCmCode" resultType="wizard.ShinYoungInd.common.dto.CMCode" parameterType="String">
        select code_ID
             , code_Name
        from cm_Code
        where Code_GBN = #{codeTypeID}
        and Use_YN = 'Y'
        order by seq
    </select>

    <select id="getPlusFinder" statementType="CALLABLE" resultType="java.util.LinkedHashMap" parameterType="hashmap">
        { call xp_Common_PlusFinder(#{nLarge, javaType=int,jdbcType=INTEGER, mode=IN}
            , #{sMiddle, javaType=String, jdbcType=VARCHAR, mode=IN})}
    </select>

    <select id="getProcess" statementType="CALLABLE" resultType="wizard.ShinYoungInd.product.process.Process" parameterType="hashmap">
        { call xp_Code_sProcess(#{processID, javaType=String,jdbcType=VARCHAR, mode=IN}
            , #{process, javaType=String, jdbcType=VARCHAR, mode=IN})}
    </select>



</mapper>