/*
설명: 공지사항 추가 상세 css
작성일: 2024.10.08
개발자: KDH
********************************************************
수정일자       수정자          요청자     요청내용
********************************************************

*/

/*
. class : 중복으로 같이 사용 가능, 하이픈 사용 ex) page-header
# id : 중복으로 사용 불가능(id값 다르게 계속 생성), 카멜케이스 ex) chkDate
*/

/*textarea css resize = none;, 크기 조절 막기 */
.textarea-size{
    width : 100%;
    height : 300px;
    resize: none;
    font-size: 20px; /* 글자 크기 설정 */
}

/*text css 크기*/
.text-size{
    width : 100%;
    resize: none;
    font-size: 20px; /* 글자 크기 설정 */
}

/*화살표 버튼 css*/
.btn-way{
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #59c4e4;
    border-color: #59c4e4;
    border-radius: 30px;
    margin : 4px 1.5px;
    min-width: 30px;
    min-height: 30px;
}

/*행 높이 조정 css*/
.tr-height{
    height: 250px; /* 행 높이 설정 */
}

/*세로 가운데 정렬 css*/
.text-align{
    vertical-align: middle; /* 셀의 세로 중앙에 배치 */
}

/*date css*/
.input-date{
    margin : 0px 4px;
}

/*컬럼 숨기기*/
.th-hidden{
    display: none;
}

/*가운데 버튼 위아래좌우 가운데 정렬*/
.btn-align{
    display: grid;
    place-items: center; /* 가로 및 세로 가운데 정렬 */
}

/*주강사 dic*/
.div-checkbox{
    display: flex;
    justify-content: space-start;
}

/*div 스크롤바 생성*/
.div-scroll{
    overflow: auto;
    height: 300px;
}

/*삭제, 다운로드 버튼 css*/
.btn-css{
        display:flex;
        justify-content: center;   /* 수평 중앙 정렬 */
        align-items: center;       /* 수직 중앙 정렬 */
        margin-right: 5px;
        color: #fff;
        background: #78bd5d;
        border-color: #78bd5d;
        border-radius: 30px;
        min-width: 80px;
}

/*마우스 올릴 경우 움직임*/
.btn-css:hover {
    animation: jelly 0.5s;
}

/*file text 크기*/
#saveFile{
    width : 95%;
    margin-right : 10px;
}

/*file text 크기*/
#userFileName{
    width : 95%;
    margin-right : 10px;
}

/* 화면 덮어쓸 오버레이 스타일 */
#overlay {
    position: fixed;  /* 고정 위치 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);  /* 반투명 흰색 */
    z-index: 1000;  /* 모든 요소 위에 표시 */
}

/*테이블 상단 검색조건에 라벨 위치 공통과 위치가 다르게 처리되어 여기에 생성함*/
table label {
    vertical-align: middle;
}

/*테이블이 컬럼 hidden시 사용(이거 안 하면 뒤에 빈 공간 생성됨)*/
table colgroup{
    display: none;
}

table .disabled{
            background-color: #f0f0f0; /* 비활성화된 행의 배경색 */
            color: #aaa; /* 비활성화된 텍스트 색상 */
            pointer-events: none; /* 클릭 이벤트 비활성화 */
}

/*animation*/
@keyframes jelly {
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}
